* {
  box-sizing: border-box;
}

header {
  background: pink;
  height: 30vh;
}

header, main, aside {
  padding: 20px;
  text-align: center;
  font-weight: 700;
  font-size: 20px;
}

.holder {
  display: flex;
  flex-wrap: wrap;
}

main, aside {
  height: 70vh;
}

main {
  flex: 1 1 70%;
  background: lavender;
}

aside {
  flex: 1 1 30%;
  background: azure;
}